---
import { twMerge } from "tailwind-merge";

import Photo from "@widgets/Photo.astro";

import gallery from "@data/gallery.json";

const availableImages = import.meta.glob("../../assets/*.png", { eager: true });
---


<section class="relative bg-background h-dvh slider" id="section-gallery">
  <div id="gallery" class="mt-40 h-[calc(100dvh-10rem)] w-dvw overflow-x-scroll overflow-y-hidden tablet:mt-60 desktop-1:mt-40 desktop-3:mt-60" data-photos={gallery.length}>
    {
      gallery.map((photo, key) => {
        return (
          <Photo
            image={availableImages[`../../assets/${photo.image}`].default}
            divClass={twMerge(
              "w-100 relative",
              photo.finalRotation < 0
                ? "-rotate-" + Math.abs(photo.finalRotation)
                : "rotate-" + photo.finalRotation,
            )}
            style={`left: 100dvw; top: ${ Math.floor(photo.finalTop / 4) }rem; rotate: ${photo.finalRotation}deg; opacity: 0`}
            data-initialleft={photo.initialLeft}
            data-finalleft={photo.finalLeft}
            id={`gallery-${key}`}
          />
        );
      })
    }
  </div>
</section>